<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$seo['title']}</title>
<meta name="Keywords" content="{$seo['keywords']}">
<meta name="Description" content="{$seo['description']}">
<link href="templates/{$CFG[tplname]}/style/reset.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/style.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/siteinfo.css" type="text/css" rel="stylesheet" />
<link id="themecss" rel="stylesheet" rev="stylesheet" href="templates/{$CFG[tplname]}/style/theme/theme1.css" type="text/css">
<script src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body class="home-page">
<div class="wrapper">
<!--{template header}-->
	<!-- 主体 -->
	<div id="content">
		<div class="site_info">
			<div class="hd">
				<ul class="clearfix">
					{$title}
				</ul>
			</div>
			<div class="bd">
				{$content}
			</div>
		</div>
	</div>
	<!-- 主体 结束 -->
	<!--{template footer}-->
</div>
</body>
</html>
