<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$seo['title']}</title>
<meta name="Keywords" content="{$seo['keywords']}">
<meta name="Description" content="{$seo['description']}">
<link href="templates/{$CFG[tplname]}/style/reset.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/style.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/user.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/useredit.css" type="text/css" rel="stylesheet" />
<script src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
</head>
<script>
function check_submit()
{
	var oldpassword = $("#oldpassword").val();
	var password = $("#password").val();
	var repassword = $("#repassword").val();

	if($("#oldpassword").val()=="" && $("#password").val()!='')
	{
		$("#oldpassword").focus();
		alert("密码不能为空");
		return false;
	}
	if($("#password").val()!='' && $("#password").val().length < 6 || $("#password").val().length > 12)
	{
		$("#password").focus();
		alert("新密码长度在6到12个字符之内")
		return false;
	}
	if(password.value!='' && repassword.value!='' && repassword.value != password.value)
	{
		renewpassword.focus();
		alert("两次输入的新密码不同");
		return false;
	}
}
</script>
<body class="home-page">
<div class="wrapper">
<!--{template header}-->
	<!-- 主体 -->
	<div id="content" class="clearfix">
		<div class="col_main">
			<div class="edit_box">
				<div id="contentfloat">
        <div id="content">
<form action="member.php?act=act_edit_password" method="post" name=form onsubmit="return check_submit();">

<div class="bigtitle">修改密码设置</div>
<table width="100%" cellpadding="0" cellspacing="0" class="tx_box">
	<tr>
		<td valign="top" style="width:70px; text-align:center;"><img src="templates/{$CFG[tplname]}/images/icon1.gif" width="53" height="53" alt="" /></td>
		<td class="tx_title"><span>重要提示：</span><br />
		请牢记更改后的新密码，如果忘记密码请通过“忘记密码？”找回！</td>
	</tr>
</table>
<div class="smalltitle">修改密码设置（打 <span style="color:Red">*</span> 为必填项）</div>
<table border="0" cellpadding="1" cellspacing="1" class="table" width="100%">
    <tr>
        <td class="tditem" style="width:25%;"><span style="color:Red">*</span> 您的旧密码：</td>
        <td class="tdcontent" style="width:75%">
            <input name="oldpassword" type="password" id="oldpassword"  class="text"/><span id="regOldPassWordInfo"></span></td>
    </tr>
    <tr>
        <td class="tditem"><span style="color:Red">*</span> 您的新密码：</td>
        <td class="tdcontent">
            <input name="password" type="password" id="password"  class="text"/>
            <span id="regCNewPassWordInfo">(6-15 个字符，只允许数字和英文字母，有大小写区分。)</span></td>
    </tr>
    <tr>
        <td class="tditem"><span style="color:Red">*</span> 重复新密码：</td>
        <td class="tdcontent">
            <input name="repassword" type="password" id="repassword" class="text" /><span id="regOldPassWordInfo"></span></td>
    </tr>
</table>
<div class="submit"><input type=submit id=submit name=submit value=" 提 交 " ></div>

        </div>　
	</div>
			</div>
		</div>
		<div class="col_sub">
			<!-- 侧边栏菜单 开始 -->
			<div class="side_bar">
				<ul>
					<!--{template member_left}-->
				</ul>
			</div>
			<!-- 侧边栏菜单 结束 -->
		</div>
	</div>
	</form>
	<!-- 主体 结束 -->
	<!--{template footer}-->
</div>
</body>
</html>
