<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="{PHPMPS_PATH}">
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$seo['title']}</title>
<meta name="Keywords" content="{$seo['keywords']}">
<meta name="Description" content="{$seo['description']}">
<link href="templates/{$CFG[tplname]}/style/reset.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/style.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/fac.css" type="text/css" rel="stylesheet" />
<script src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<body class="home-page">
<div class="wrapper">
	<!--{template header}-->
	<!-- 主体 -->
	<div id="content">
		<div class="thd clearfix">
		找回密码
		</div>
		<div class="fbd">
			
			<div class="infophpmps">
				<form action="member.php?act=send_pwd_email" method="post" name="getPassword" onsubmit="return submitPwdInfo();">
					<br />
					<table width="41%" border="0" align="center">
					  <tr>
						<td width="28%" align="right">用户名</td>
						<td width="72%"><input id="username" name="username" type="text" size="30" class="inputBg" /></td>
					  </tr>
					  <tr>
						<td align="right">邮件</td>
						<td><input id="email" name="email" type="text" size="30" class="inputBg" /></td>
					  </tr>
					  <tr>
						<td></td>
						<td>
						  <input type="submit" name="submit" value="提交"  />
						  <input name="button" type="button" onclick="history.back()" value="返回" />
						</td>
					  </tr>
					</table>
					<br />
				  </form>
				
			</div>
		</div>
	</div>
	<!-- 主体 结束 -->
	<!--{template footer}-->
</div><div id="mask" style="display:none"></div>

</body>
</html>
