<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$seo['title']}</title>
<meta name="Keywords" content="{$seo['keywords']}">
<meta name="Description" content="{$seo['description']}">
<link href="templates/{$CFG[tplname]}/style/reset.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/style.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/user.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/useredit.css" type="text/css" rel="stylesheet" />
<script src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body class="home-page">
<div class="wrapper">
<!--{template header}-->
	<!-- 主体 -->
<form action="member.php?act=send" method="post" name=form>
	<div id="content" class="clearfix">
		<div class="col_main">
			<div class="edit_box">
			<div id="contentfloat">
        <div id="contentt">
<div class="bigtitle">在线支付</div>

<div class="smalltitle">修改注册信息</div>
<table border="0" cellpadding="1" cellspacing="1" class="table" width="100%">
    <tr>
        <td class="tditem">订单号：</td>
        <td class="tdcontent">
            <span style="color:#666600;font-weight:bold;">{$orderid}</span></td>
    </tr>
	<tr>
        <td class="tditem">支付金额：</td>
        <td class="tdcontent">
            <span style="color:#666600;font-weight:bold;">
			{$total_amount}元{if $trade_fee}（<font color="red">充值金额{$amount}元，手续费{$trade_fee}元</font>）{/if}
			</span>
		</td>
    </tr><tr>
        <td class="tditem">支付平台：</td>
        <td class="tdcontent">
            <span style="color:#666600;font-weight:bold;">{$payonline_setting[$paycenter]["name"]}</span></td>
    </tr>
	<tr>
        <td class="tditem">联系人：</td>
        <td class="tdcontent">
            <span style="color:#666600;font-weight:bold;">{$contactname}</span></td>
    </tr>
	<tr>
        <td class="tditem">邮箱：</td>
        <td class="tdcontent">
            <span style="color:#666600;font-weight:bold;">{$email}</span></td>
    </tr>
	<tr>
        <td class="tditem">电话：</td>
        <td class="tdcontent">
            <span style="color:#666600;font-weight:bold;">{$telephone}</span></td>
    </tr>
     
</table>
<div class="submit">
<input name="paycenter" type="hidden" value="{$paycenter}">
<input name="amount" type="hidden" value="{$amount}">
<input name="trade_fee" type="hidden" value="{$trade_fee}">
<input name="contactname" type="hidden" value="{$contactname}">
<input name="telephone" type="hidden" value="{$telephone}">
<input name="email" type="hidden" value="{$email}">
<input name="orderid" type="hidden" value="{$orderid}">
<input type="submit" name="submit" value=" 提交 " id="submit" /></div>
 </div>　
	</div>
			</div>
		</div>
		<div class="col_sub">
			<!-- 侧边栏菜单 开始 -->
			<div class="side_bar">
				<ul>
					<!--{template member_left}-->
				</ul>
			</div>
			<!-- 侧边栏菜单 结束 -->
		</div>
	</div>
	</form>
	<!-- 主体 结束 -->
	<!--{template footer}-->
</div>
</body>
</html>
