<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="{PHPMPS_PATH}">
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$seo['title']}</title>
<meta name="Keywords" content="{$seo['keywords']}">
<meta name="Description" content="{$seo['description']}">
<link href="templates/{$CFG[tplname]}/style/reset.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/style.css" type="text/css" rel="stylesheet" />
<link href="templates/{$CFG[tplname]}/style/fac.css" type="text/css" rel="stylesheet" />
<script src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<body class="home-page">
<div class="wrapper">
	<!--{template header}-->
	<!-- 主体 -->
	<div id="content">
		<div class="thd clearfix">
		重置密码
		</div>
		<div class="fbd">
			<div class="infophpmps">
				
				<form action="member.php" method="post" name="getPassword2" onSubmit="return submitPwd()">
				  <br />
				  <table width="34%" border="0" align="center">
					<tr>
					  <td>新密码：</td>
					  <td><input name="new_password" type="password" size="25" class="inputBg" /></td>
					</tr>
					<tr>
					  <td>确认密码:</td>
					  <td><input name="confirm_password" type="password" size="25"  class="inputBg"/></td>
					</tr>
					<tr>
					  <td colspan="2" align="center">
						<input type="hidden" name="act" value="email_edit_password" />
						<input type="hidden" name="userid" value="{$userid}" />
						<input type="hidden" name="code" value="{$code}" />
						<input type="submit" name="submit" value="提交" />
					  </td>
					</tr>
				  </table>
				  <br />
				</form>
				
			</div>

		</div>
	</div>
	<!-- 主体 结束 -->
	<!--{template footer}-->
</div>
</body>
</html>
