<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>">
<link href=images/style.css rel=stylesheet type=text/css>
<script language=javascript>
function chkform(){
	if(document.form.username.value==""){
		alert('请输入管理员名称！');
		document.form.username.focus();
		return false;
	}
	if(document.form.password.value==""){
		alert('请输入密码！');
		document.form.password.focus();
		return false;
	}
	if(document.form.repass.value==""){
		alert('请输入重复密码！');
		document.form.repass.focus();
		return false;
	}
	if(document.form.email.value==""){
		alert('请输入邮件！');
		document.form.email.focus();
		return false;
	}
}
</script>
</head>
<body>
<table width=100% border=0 align=center cellpadding=3 cellspacing=1 class=tableborder>
<tr class=header>
  <td height=25> 添加管理员</td>
</tr>
<tr><td bgcolor=#FFFFFF align=center>
<table width=100% align=center border=0 cellspacing=1 cellpadding=4>
<form method=post onSubmit="return chkform()" name="form" action="admin.php?act=insert">
<tr>
  <td width="14%" align="right">管理员名称： </td>
  <td width="86%"> <input name="username" type="text" id="username" value="" size="30"> 
  *</td>
</tr>
<tr>
  <td align="right">管理员密码： </td>
  <td><input name="password" type="password" id="password" value="" size="30">
    *</td>
</tr>
<tr>
  <td align="right">重复密码： </td>
  <td><input name="repass" type="password" id="repass" value="" size="30">
    *</td>
</tr>
<tr>
  <td align="right">管理员邮箱： </td>
  <td><input name="email" type="text" id="email" value="" size="30">
    *</td>
</tr>
<tr>
  <td align="right">管理员权限： </td>
  <td>
  <input type="checkbox" name="purview[]" value="config">
  系统设置 
  <input type="checkbox" name="purview[]" value="admin">
  管理员管理 
  <input name="purview[]" type="checkbox" id="purview[]" value="admin_log">
  日志管理
  <input name="purview[]" type="checkbox" id="purview[]" value="flash">
  flash管理
  <input name="purview[]" type="checkbox" id="purview[]" value="sitemap">
  sitemap管理
  
  <input type="checkbox" name="purview[]" value="nav"> 
  导航设置 <br>
  <input name="purview[]" type="checkbox" id="purview[]" value="area">
  地区管理 
  <input name="purview[]" type="checkbox" id="purview[]" value="category">
  分类管理
  <input name="purview[]" type="checkbox" id="purview[]" value="custom">
  属性管理
  <input name="purview[]" type="checkbox" id="purview[]" value="info">
  信息管理 
  <input name="purview[]" type="checkbox" id="purview[]" value="comment"> 
  评论管理 
  <input name="purview[]" type="checkbox" id="purview[]" value="report"> 
  举报管理<br>
  <input name="purview[]" type="checkbox" id="purview[]" value="link">
  链接接管理 
  <input name="purview[]" type="checkbox" id="purview[]" value="page">
  单页管理 
  <input name="purview[]" type="checkbox" id="purview[]" value="fac">
便民管理
<input name="purview[]" type="checkbox" id="purview[]" value="ads_place">
广告位管理
<input name="purview[]" type="checkbox" id="purview[]" value="ads">
广告管理
<input name="purview[]" type="checkbox" id="purview[]" value="database">
数据库管理
<input name="purview[]" type="checkbox" id="purview[]" value="replace">
替换管理
<input name="purview[]" type="checkbox" id="purview[]" value="member">
会员管理</td>
</tr>
<tr><td colspan="2" align="center">
<input type="submit" name="submit" value=" 提 交 " />
&nbsp;&nbsp; 
<input type="reset" value=" 重 置 " > 
</td></tr>
</form>
</table>
</td>
</tr>
</table>
</body>
</html>