<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>">
<link href=images/style.css rel=stylesheet type=text/css>
<script language=javascript>
function chkform(){
	if(document.form.file.value==""){
		alert('请选择文件！');
		document.form.file.focus();
		return false;
	}
	if(document.form.url.value==""){
		alert('请填写链接！');
		document.form.url.focus();
		return false;
	}
}
</script>
</head>
<body>
<table width=100% border=0 align=center cellpadding=3 cellspacing=1 class=tableborder>
<tr class=header>
  <td height=25> 添加flash</td>
</tr>
<tr><td height="123" align=center bgcolor=#FFFFFF><table width=100% align=center border=0 cellspacing=1 cellpadding=4>
<form action="flash.php?act=insert" method=post enctype="multipart/form-data" name="form" onSubmit="return chkform()">
<tr>
  <td width="33%" align="right">图片： </td>
  <td width="67%"><input name="file" type="file" size="35">
  *
  图片标准为355*200,格式必须位jpeg</td>
</tr>
<tr>
  <td align="right">链接： </td>
  <td><input name="url" type="text" id="url" size="50"> 
  前面必须包含http://</td>
</tr>
<tr>
  <td align="right">排序： </td>
  <td><label>
    <input name="order" type="text" id="order" value="<?=$maxorder?>" size="15">
  </label></td>
</tr>
<tr>
<td colspan="2" align="center">
<input type="hidden" name="act" value="insert">
<input type="submit" name="submit" value=" 提 交 " />
&nbsp;&nbsp; 
<input type="reset" value=" 重 置 " > 
</td>
</tr>
</form>
</table>
</td>
</tr>
</table>
</body>
</html>