<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>">
<link href=images/style.css rel=stylesheet type=text/css>
<script language=javascript>
function chkform()
{
	if(document.form.title.value=="")
	{
		alert('请输入标题');
		document.form.title.focus();
		return false;
	}
	if(document.form.phone.value=="")
	{
		alert('请输入电话！');
		document.form.phone.focus();
		return false;
	}
}
</script>
</head>
<body>
<br />
<table width=100% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
<tr class=header>
  <td height=25>&nbsp;&nbsp;添加便民信息</td>
</tr>
<tr><td height="136" align=center bgcolor=#FFFFFF>
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
<form method="post" name="form" action="fac.php?act=update" onSubmit="return chkform()">
<tr bgcolor=#FFFFFF>
  <td width="40%" height=2><div align="right">名称：</div></td>
  <td width="60%"><input name=title type=text id="title" value="<?=$fac['title']?>" size=45>* </td>
</tr>
<tr bgcolor=#FFFFFF>
  <td width="40%" height=12><div align="right">排序：</div></td>
  <td><input name=listorder type=text id="listorder" value="<?=$fac['listorder']?>" size=45></td>
</tr>
<tr bgcolor=#FFFFFF>
  <td width="40%" height=12><div align="right">电话：</div></td>
  <td><input name=phone type=text id="phone" value="<?=$fac['phone']?>" size=45>*</td>
</tr>
<tr bgcolor=#FFFFFF>
  <td width="40%" height=12><div align="right">介绍：</div></td>
  <td><textarea name="introduce" cols="60" rows="5" id="introduce"><?=$fac['introduce']?></textarea></td>
</tr>
<tr bgcolor=#FFFFFF><td colspan=3 height=30 align=center>
 <input type="hidden" name="id" value="<?=$fac['id']?>">
 <input type="submit" name="submit" value=" 提 交 " />&nbsp;
 <input type=reset name=reset value=" 重置 " > 
</td></tr>
</form>
</table></td>
</tr>
</table>
</body></html>