<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>" />
<title>PHP信息发布系统 后台管理 - Powered by phpmps</title>
<link href="images/style.css" rel="stylesheet" type="text/css">
</head>

<frameset cols="225,*" framespacing="0" border="0" id="frame-body" >
	<frame src="index.php?act=left" id="left" name="left" frameborder="no" scrolling="yes" noresize>
	<frame src="index.php?act=right" id="right" name="right" frameborder="no" scrolling="yes">
</frameset>

<noframes>
</noframes>
<body>
</body>
</html>