<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>" />
<link href=images/style.css rel=stylesheet type=text/css>
</head>
<body>
<br>
<table width=100% border=0 align=center cellpadding=1 cellspacing=1 class=tableborder>
<tr class=header>
  <td height=25> 生成网站地图</td>
</tr>
<tr><td bgcolor=#FFFFFF align=center>
<table width=100% align=center border=0 cellspacing=1 cellpadding=0 bgcolor="#FFFFFF">
<form method=post name="form" action="sitemap.php?act=sitemap">
<tr bgcolor=#FFFFFF>
<td height=25 bgcolor="#FFFFFF">sitemap 是一个 XML 文件，其中列有某个网站的所有网址以及有关每个网址的其他信息。 Sitemap 会向 Google 及其他搜索引擎提供有关您网站的重要信息，包括： <br/><br/>您网站所有网址的完整列表，包括在 Google 的正常抓取过程中未被发现的网址（例如：非文本网页或含多个参数的网址）。 <br/>您网站上网页的更改频率。 例如：您可能每日都更新产品页，但每几个月才更新"我的简介"页一次。 <br/>各网页上次修改的日期。 <br/>您网站上各网页的相对重要性。 例如：主页的相对重要性为 1.0，类别页的相对重要性为 0.8，个人博客条目或产品页的相对重要性为 0.5。 这个优先级排名只是说明特定网址相对于您网站上其他网址的重要性，并不会影响网页在搜索结果中的排名。<br/>
&nbsp;</td>
</tr>
<tr bgcolor=#FFFFFF><td height=30 align="center">
 <input type="submit" name="submit"  value=" 生 成 " /></td></tr>
</form>
</table></td>
</tr></table>
</body>
</html>