<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>">
<title>安装成功</title>
<link href="style/style.css" rel=stylesheet type=text/css>
<style type="text/css">
<!--
.STYLE4 {	font-family: "黑体";
	font-weight: bold;
}
-->
</style>
</head>
<body>
<div align="center"><span class="STYLE4"><font size="+1">PHP信息发布系统--安装程序</font></span> <br/>
</div>
<br/>
<table width="50%" border="0" align="center" cellpadding="0" cellspacing="1" class="tableborder">
  <tr class="header">
    <td height="25">&nbsp; 安装结束</td>
  </tr>
  <tr>
    <td height="61" colspan="2" align="center" bgcolor="#FFFFFF">
    <table width="100%" align="center" border="0" cellspacing="1" cellpadding="0">
      <tr bgcolor="#FFFFFF" align="center">
        <td><label>系统安装成功!</label></td>
        </tr>
      <tr bgcolor="#FFFFFF" align="center">
        <td><label><a href="../admin/index.php">进入网站后台</a></label></td>
        </tr>
      <tr bgcolor="#FFFFFF" align="center">
        <td><label><a href="../index.php">进入网站前台</a></label></td>
        </tr>
	</table></td>
  </tr>
</table>
</body>
</html>